POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=clinic
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_LOCAL_PORT=5432
POSTGRES_DOCKER_PORT=5432

RABBITMQ_USER=admin
RABBITMQ_PASS=admin
RABBITMQ_URI=amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@rabbitmq:5672

REDIS_URI=redis://host.docker.internal:6379